<form class="auth_form" id="{{formId}}">
  <p>{{formLabel}}</p>
  {{#each inputs}}
    <div class="input_group">
      <label for="{{this.name}}">Логин</label>
      <input
        placeholder="{{this.placeholder}}"
        name="{{this.name}}"
        id="{{this.id}}"
      />
    </div>
  {{/each}}
  <div class="auth_form_buttons">{{{buttons}}}</div>
</form>